<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="https://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="Css/custom.css">
<title>Game</title>
</head>
<body>
	<nav
		class="navbar navbar-expand-md navbar-dark  pb-5  py-sm-2 my-sm-0 ">
		<a class="nav-item nav-link" href="/game/quitGame">Quit Game</a>
		
		
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse align-items-end flex-column bd-highlight mb-3"
			style="font-size: 1.5rem;" id="navbarNavAltMarkup">
			<div class="navbar-nav ">
				<a class="nav-item nav-link active" href="#">Profile <span
					class="sr-only">(current)</span></a>
					

			</div>

		</div>

	</nav>
	<hr class="hr-light ">
 
    <span th:if="${game.points == 60}"><img alt="" src="../Images/Hangman0.png"></span>
    <span th:if="${game.points == 50}"><img alt="" src="../Images/Hangman1.png"></span>
    <span th:if="${game.points == 40}"><img alt="" src="../Images/Hangman2.png"></span>
    <span th:if="${game.points == 30}"><img alt="" src="../Images/Hangman3.png"></span>
    <span th:if="${game.points == 20}"><img alt="" src="../Images/Hangman4.png"></span>
    <span th:if="${game.points == 10}"><img alt="" src="../Images/Hangman5.png"></span>
    <span th:if="${game.points == 0}"><img alt="" src="../Images/Hangman6.png"></span>
	
	
	
<h2 th:text="${game.wordPattern}" style="color:white; padding-left: 200px;"></h2>
<h2 th:text="${game.gameFinished}" style="color:white; padding-left: 200px;"></h2>
	
	<form method="post" action="/game">
	<div class="form-group row" style="margin-left: 120px;">
  <div class="col-xs-4" th:if="${game.gameFinished == false && game.points != 0}" disabled>
		<input type="text" class="form-control" name="letter" placeholder="enter letter"
			maxlength="1" autofocus="autofocus"> 
			<button  class="btn btn-dark btn-lg btn-block " style="color: white;">Submit letter</button>
			</div>
			</div>

	</form>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>