<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="Css/custom.css">

<title>Profile</title>
</head>
<body class="profileBg">


	<nav
		class="navbar navbar-expand-md navbar-dark  pb-5  py-sm-2 my-sm-0 ">
		<a class="navbar-brand " style="font-size: 40px;" href="Home.html";>
			Hangman </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse align-items-end flex-column bd-highlight mb-3"
			style="font-size: 1.5rem;" id="navbarNavAltMarkup">
			<div class="navbar-nav ">
				<a class="nav-item nav-link active" href="#">Profile <span
					class="sr-only">(current)</span></a>
				 <a class="nav-item nav-link" href="/logout">Logout</a>

			</div>

		</div>

	</nav>
	<hr class="hr-light ">

	<div>
		<h2>
			Welcome <span th:text="${user}"></span>
		</h2>
	</div>


	<form method="get" th:action="@{/game}">
		<div class="container" style="padding-top: 50%;">

			<p class="text-center" style="font-size: 200%; color: white;">Up
				for A challenge?</p>
			<button class="btn btn-outline-dark btn-lg btn-block "
				style="color: white;">
				<strong>New Game<strong>
			</button>

		</div>
	</form>




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>